# Copy this file to dev/winvm/env and use absolute paths.
WINVM_WINDOWS_ISO=/absolute/path/to/SERVER_EVAL_x64FRE_en-us.iso
WINVM_VIRTIO_ISO=/absolute/path/to/virtio-win-0.1.285.iso

# WINVM_CACHE_DIR=/absolute/path/to/private/cache
# WINVM_OVMF_CODE=/absolute/path/to/OVMF_CODE.fd
# WINVM_OVMF_VARS=/absolute/path/to/OVMF_VARS.fd
